@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "_variables";
@import "modules/hello.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #3767AD;
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

.wrapper {
  position: relative;
}

.main {
  &__heading {
    position: relative;
    margin: 87px 0 68px 0;
    color: #fff;
    font-size: 55px;
    font-weight: 500;
    line-height: 64px;
  }

  &__image {}

  &__counter {

    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 112px;
    font-weight: 600;
  }

  &__button {
    display: block;
    margin: 0 auto;

    &--add {
      margin: 48px auto 37px;
      width: 216px;
      height: 47px;
      border-radius: 4px;
      font-size: 18px;
      font-weight: 600;
      border: none;
      color: #000;

    }

    &--remove {
      background: none;
      border: none;
      font-size: 14px;
      color: #F5E5E7;
    }
  }
}