@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "_variables";
@import "modules/hello.scss";

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background: #3767AD;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.languages {
  &__button {
    position: absolute;
    top: 1%;
    right: 16px;
    width: 32px;
    height: 32px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;

    &--us {
      right: 64px;
    }
  }

  &__flag {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 1%;
    right: 16px;
    z-index: 1;

    &--us {
      right: 64px;
    }
  }
}

.main__en {
  position: absolute;
  left: 0;
}


.wrapper {
  position: relative;
}

.main {


  &__heading {
    position: relative;
    margin: 16px 0 36px 0;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;

    @media screen and(min-width: 360px) {
      margin: 16px 0 64px;
    }

    @media screen and(min-height: 768px) {
      font-size: 72px;
      margin-bottom: 96px;
    }

  }

  &__image {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  }

  &__counter {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 72px;
    font-weight: 600;
    transition: color 2s ease;

    &-animation--js {
      color: red;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;

    &--add {
      margin: 40px auto 24px;
      width: 216px;
      height: 47px;
      border-radius: 4px;
      font-size: 18px;
      font-weight: 600;
      border: none;
      color: #000;

      @media screen and(min-width: 360px) {
        margin-top: 64px;
      }

      @media screen and(min-height: 768px) {
        margin: 96px auto 32px;
      }
    }

    &--remove {
      background: none;
      border: none;
      font-size: 14px;
      color: #F5E5E7;
    }
  }
}