@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "_variables";
@import "modules/hello.scss";

// @keyframes shake {

//   10%,
//   90% {
//     transform: translate3d(-1px, 0, 0);
//   }

//   20%,
//   80% {
//     transform: translate3d(2px, 0, 0);
//   }

//   30%,
//   50%,
//   70% {
//     transform: translate3d(-4px, 0, 0);
//   }

//   40%,
//   60% {
//     transform: translate3d(4px, 0, 0);
//   }
// }

// @keyframes filling {
//   0% {
//     background-position: 0px 0px;
//   }

//   100% {
//     background-position: -16800px 0px;
//   }
// }

// @keyframes emptying {
//   0% {
//     background-position: -16800px 0px;
//   }

//   100% {
//     background-position: -16800px 0px;
//   }
// }

.water {
  display: none;
}

.water-animation-add {
  display: block;
  animation: water-filling 2s ease-in-out 1;
}

@keyframes water-filling {
  0% {
    transform: scale(0.8, 0);
    transform-origin: center 93%;
    opacity: 0;
  }

  50% {
    transform: scale(1, 1);
    transform-origin: center 93%;
    opacity: 1;
  }

  75% {
    transform: scale(1, 0.95);
    transform-origin: center 93%;
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    transform-origin: center 93%;
    opacity: 1;
  }
}

.water-animation-remove {
  display: block;
  animation: water-removing 2s ease-in-out 1;
}

@keyframes water-removing {
  0% {
    transform: scale(1, 1);
    transform-origin: center 93%;
  }

  50% {
    transform: scale(1, 0.8);
    transform-origin: center 93%;
  }

  100% {
    transform: scale(1, 1);
    transform-origin: center 93%;
  }

}

.water-animation-disappear {
  display: block;
  animation: water-disappearing 2s ease-in 1 forwards;
}

@keyframes water-disappearing {
  0% {
    transform: scale(1, 1);
    transform-origin: center 93%;
    opacity: 1;
  }

  100% {
    transform: scale(0.8, 0);
    transform-origin: center 93%;
    opacity: 0;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background: #3767AD;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.navigation {
  position: absolute;
  width: 100%;
  height: 32px;
  background: #325486;
  top: 0;
  left: 0;

  &__language {
    position: absolute;
    top: 1%;
    right: 8px;
    width: 24px;
    height: 24px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    font-size: 0;

    @media screen and(min-width: 321px) {
      width: 32px;
      height: 32px;
    }

    &--us {
      right: 40px;

      @media screen and(min-width: 321px) {
        right: 48px;
      }
    }
  }

  &__flag {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1%;
    right: 8px;
    z-index: 1;

    @media screen and(min-width: 321px) {
      width: 32px;
      height: 32px;
    }


    &--us {
      right: 40px;

      @media screen and(min-width: 321px) {
        right: 48px;
      }
    }
  }
}

.wrapper {
  position: relative;
}

.main {


  &__heading {
    position: relative;
    margin: 16px 0 36px 0;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;

    @media screen and(min-width: 361px) {
      margin: 16px 0 64px;
    }

    @media screen and(min-height: 768px) {
      font-size: 72px;
      margin-bottom: 96px;
    }

  }

  &__image {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    background-image: url(../assets/img/water-glass.svg);
    animation-duration: 1000ms;
    animation-timing-function: steps(60);
    animation-fill-mode: forwards;
    width: 280px;
    height: 280px;
    background-repeat: no-repeat;

    &--filling {
      animation-name: filling;
    }

    &--emptying {
      animation-name: emptying;
    }
  }

  &__counter {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 72px;
    font-weight: 600;
    transition: color 2s ease;

    &-animation--js {
      color: red;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;

    &--add {
      margin: 40px auto 24px;
      width: 216px;
      height: 47px;
      border-radius: 4px;
      font-size: 18px;
      font-weight: 600;
      border: none;
      color: #000;

      @media screen and(min-width: 361px) {
        margin-top: 64px;
      }

      @media screen and(min-height: 768px) {
        margin: 96px auto 32px;
      }
    }

    &--remove {
      background: none;
      border: none;
      font-size: 14px;
      color: #F5E5E7;
    }
  }
}

@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -16800px 0px;
  }
}